.graficSection {
    width: 100%;
    min-width: 252px;
    height: 100%;
    padding: 16px 24px;
    grid-area: GraficSection;
    background-color: #F5F6FC;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 24px; */
}

.containerTop-User {
    width: 100%;
    height: 79px;
    padding-top: 26px;
    border-bottom: 1px solid #E0E7F1;
}

.containerTop-User > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.box-icons {
    display: flex;
    gap: 8px;
}

.box-user {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}

.box-user > svg {
    color: #343951;
}

.container-stadistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-top: 17px;
}

.container-stadistics > h3 {
    width: 100%;
    text-align: left;
    font-size: 20px;
}

.subContainer-stadistic {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subContainer-stadistic > p {
    color: #858A9D;
    font-size: 8px;
}

.stadistic-grafic {
    width: 139px;
    height: 139px;
    position: relative;
}
.stadistic-grafic--info {
    position: absolute;
    top: 38px;
    left: 52px;
}
.stadistic-grafic--info > h3 {
    font-size: 24px;
    color: #343951;
    text-align: left;
}
.stadistic-grafic--info > p {
    font-size: 14px;
    color: #858A9D;
    text-align: left;
}

.stadistic-grafic > svg {
    width: 139px;
    height: 139px;
}

.box-stadistic {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-stadistic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 195px; */
    width: 100%;
    height: 46px;
    border-bottom: 1px solid #E0E7F1;
}

.card-stadistic:last-child {
    border-bottom: none;
}

.card-stadistic-square {
    width: 28px;
    height: 28px;
    border-radius: 8px;
}

.card-stadistic:first-child > .card-stadistic-square {
    background-color: #FF9F00;
}

.card-stadistic:nth-child(2) > .card-stadistic-square {
    background-color: #689FF8;
}

.card-stadistic:nth-child(3) > .card-stadistic-square {
    background-color: #4AC29D;
}

.card-stadistic:last-child > .card-stadistic-square {
    background-color: #BCBECA;
}

.card-stadistic-container {
    padding: 10px 7px;
}

.card-stadistic-container h4 {
    font-size: 10px;
    font-weight: 400;
}

.card-stadistic-container p {
    font-size: 8px;
}

.card-stadistic > p {
    font-size: 8px;
    font-weight: 500;
    padding: 4.5px 14px;
    margin-left: 47px;
    border-radius: 4px;
    background-color: white;
}

.container-upgrade {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 18px;
    padding: 17px 37px 16px 38px;
    margin-top: 27px;
    width: 100%;
    height: 202px;
}

.container-upgrade > .btn {
    font-weight: 600;
}

.box-gradient {
    background: linear-gradient(to left, #689EF8, #FF6860, #FF9F00);
    width: 119px;
    height: 73px;
    border-radius: 11px;
}
.box-information {
    margin: 23px 0 11px 0;
}

.box-information h4 {
    font-size: 12px;
    margin-bottom: 5px;
}

.box-information p {
    font-size: 8px;
}
@media (max-width: 500px) {
    .containerTop-User{
        height: auto;
    }
    .containerTop-User > div {
        display: none;
    }
}