.mainSection {
    width: 100%;
    max-width: 562px;
    height: 100%;
    grid-area: MainSection;
    background-color: #F5F6FC;
}

.search-container {
    padding-top: 25px;
    display: flex;
    width: 100%;
    max-width: 527px;
    position: relative;
}

.search-container--icon {
    position: absolute;
    top: 24px;
    bottom: 0;
    inset-inline-start: 0px;
    display: flex;
    align-items: center;
    padding-inline-start: 12px;
    pointer-events: none;
}

.search-container > input {
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 29px;
    display: block;
    padding-inline-start: 40px;
}

.search-container--icon > svg {
    color: black;
}

.container {
    display: grid;
    width: 100%;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container div div svg {
    color: black;
}

.box-icons {
    display: flex;
    gap: 8px;
    justify-content: right;
}

.card {
    border: 1px solid black;
    border-radius: 12px;
    width: 159px;
    height: 133px;
    padding: 0;
}

.card-small {
    width: 157px;
    height: 79px;
}