.leftSide {
    width: 100%;
    max-width: 172px;
    height: 100vh;
    background-color: #343951;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-area: Sidebar;
}

.logoContainer {
    display: flex;
    justify-content: left;
    max-height: 108px;
}

.logo {
    background: linear-gradient(to left, #689EF8, #FF6860, #FF9F00);
    width: 74px;
    height: 21px;
    margin: 36px 66px 0px 32px;
    border-radius: 5px;
    border: none;
}

.menuItems {
    width: 100%;
    max-width: 173px;
    height: 299px;
    padding: 0;
    margin: 0;
    text-align: left;
    text-decoration: none;
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 14px;
    border-bottom: 1px solid #464C61;
}

.menuItems li {
    display: flex;
    align-items: center;
    gap: 19px;
    height: 44px;
    padding-left: 32px;
    font-size: 10px;
}

svg {
    width: 16px;
    height: 16px;
    color: white;
}

.btnContainer {
    display: grid;
    grid-row: 5 / 5;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 27px;
}

.btn {
    width: 116px;
    height: 30px;
    background-color: #FF9F00;
    border-radius: 8px;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border: none;
    padding-left: 20px;
}

.btn span {
    padding: 5px 7px;
    border-radius: 8px;
    background-color: #FFB233;
}

.btn span svg {
    width: 7px;
    height: 7px;
}