#root {
  /* max-width: 1280px; */
  width: 100%;
  max-width: 1027px;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
}

.card {
  padding: 2em;
}

main {
  display: grid;
  grid-template-areas: 
    "Sidebar Sidebar MainSection MainSection MainSection GraficSection GraficSection"
    "Sidebar Sidebar MainSection MainSection MainSection GraficSection GraficSection"
    "Sidebar Sidebar MainSection MainSection MainSection GraficSection GraficSection";
  gap: 20.5px;
}
