#root {
  /* max-width: 1280px; */
  width: 100%;
  /* max-width: 1027px; */
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  font-size: 10px;
}

ul {
  list-style: none;
}
main {
  display: grid;
  grid-template-areas: 
    "Sidebar MainSection MainSection GraficSection"
    "Sidebar MainSection MainSection GraficSection"
    "Sidebar MainSection MainSection GraficSection";
  gap: 20.5px;
}
