#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  font-size: 10px;
}

ul {
  list-style: none;
}
main {
  display: grid;
  grid-template-areas: 
    "Sidebar MainSection MainSection GraficSection"
    "Sidebar MainSection MainSection GraficSection"
    "Sidebar MainSection MainSection GraficSection";
  gap: 20.5px;
}

@media (max-width: 500px) {
  main {
    grid-template-areas:
        "Sidebar"
        "MainSection"
        "GraficSection";
  }
}
